<template>
  <div class="add-new-glyph">
    <h3 class="form-caption">Add new glyph</h3>
    <transition name="fade" mode="out-in">
      <div class="loading-circle" v-if="sending"></div>
      <form class="form" method="post" @submit="saveNewGlyph" v-else>
        <label for="new-glyph" class="form-left form-label">New glyph:</label>
        <input type="text" class="form-right form-input" name="new-glyph" id="new-glyph" v-model="newGlyph">
        <label for="new-glyph-pinyin" class="form-left form-label">Pinyin:</label>
        <input type="text" class="form-right form-input" name="pinyin" id="new-glyph-pinyin" v-model="pinyin">
        <label for="new-glyph-meaning" class="form-left form-label">Meaning:</label>
        <input type="text" class="form-right form-input" name="meaning" id="new-glyph-meaning" v-model="meaning">
        <input type="submit" class="form-bottom form-button" value="Save">
        <div class="form-bottom form-errors">
          <ul class="form-errors__list" :class="{'visible': formErrors.length}">
            <li class="form-errors__error" v-for="(error, index) in formErrors" :key="index">{{ error }}</li>
          </ul>
        </div>
      </form>
    </transition>

  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import api from '@/library/api';
import {ISaveGlyphData} from "@/library/api/ISaveGlyphData";

export default defineComponent({
  name: "AddNewGlyph",

  data() {
    return {
      newGlyph: '',
      pinyin: '',
      meaning: '',
      formErrors: new Array<string>(),

      sending: false,
    };
  },

  methods: {
    validate(data: ISaveGlyphData): boolean {
      this.formErrors = [];
      if (data.newGlyph.length !== 1) {
        this.formErrors.push('Glyph should be just one character.');
      }
      if (!data.pinyin) {
        this.formErrors.push('Pinyin should not be empty.');
      }
      if (!data.meaning) {
        this.formErrors.push('Meaning should not be empty.');
      }

      return !this.formErrors.length;
    },
    saveNewGlyph(e: Event) {
      e.preventDefault();

      const data = {
        newGlyph: this.newGlyph,
        pinyin: this.pinyin,
        meaning: this.meaning,
      };
      if (!this.validate(data)) {
        return false;
      }

      this.sending = true;

      api.saveGlyph(data).then(() => {
        this.sending = false;
      });

      return false;
    },
  }
});
</script>

<style scoped>
.add-new-glyph {
  max-width: 600px;
}
.form {
  max-width: 400px;
}
.form-caption {
  margin-bottom: 10px;
}
.form-errors {
  overflow: hidden;
}
.form-errors__list {
  /*display: none;*/
  list-style: disc inside;
  transition: transform 0.3s;
  transform-origin: top;
  transform: translateY(-100%);
}
.form-errors__list.visible {
  /*display: block;*/
  transform: translateY(0);
}
.form-errors__error {
  color: var(--red);
}
</style>