<template>
  <div class="edit-glyph">
    <h1>Edit glyph</h1>

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'EditGlyph',
  props: {
    glyph: {
      type: String,
      required: true,
    }
  },
});
</script>