<template>
  <div class="home">
    <SearchGlyph/>
    <transition name="fade" mode="out-in">
      <div class="loading-circle" v-if="isLoading"></div>
      <TheGrid v-else />
    </transition>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import TheGrid from '@/components/TheGrid.vue';
import SearchGlyph from "@/components/SearchGlyph.vue";

export default defineComponent({
  name: 'Home',
  components: {
    SearchGlyph,
    TheGrid,
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading;
    },
  },
});
</script>
