<template>
  <div class="glyph">
    <div class="glyph--glyph">{{ glyph.symbol }}</div>
    <div class="glyph--pinyin" :class="{'multiple': glyph.pinyin.length > 1}">{{ glyph.getOnePinyin() }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Glyph from "@/library/Glyph";

export default defineComponent({
  name: "GlyphInGrid",
  props: {
    glyph: Glyph,
  },
})
</script>

<style scoped>
.glyph {
  border: 1px solid #000;
  margin: 14px 10px;
  overflow: hidden;
  text-align: center;
  width: 84px;
}
.glyph--glyph {
  font-size: var(--glyph-size);
  font-family: KaiTi, serif;
}
.glyph--pinyin {
  font-family: Calibri, sans-serif;
  font-size: 1.4rem;
  height: 30px;
  padding: 0 10px;
}
.glyph--pinyin.multiple {
  background: rgba(255, 200, 0, 0.35);
}
</style>