<template>
    <div class="info-block-wrapper">
      <transition name="slide-down" mode="out-in">
        <div class="info-block" :class="appMessage.type" v-if="appMessage">
          {{appMessage.text}}
        </div>
      </transition>
    </div>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'InfoBlock',
  computed: {
    appMessage() {
      return this.$store.state.appMessage;
    },
  },
});
</script>

<style scoped>
.info-block-wrapper {
  height: 30px;
}
.info-block {
  color: #fbfdff;
  min-height: 20px;
  padding: 5px;
  position: fixed;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
  width: 100%;
}
.info-block.success {
  background: rgba(169, 230, 112, 0.55);
}
.info-block.warning {
  background: rgba(255, 160, 88, 0.55);
}
.info-block.error {
  background: rgba(255, 12, 0, 0.55);
}

</style>