<template>
  <div class="search">
    <label for="search-input" class="form-label">Search glyph:</label>
    <input type="text" name="search" class="form-input"
           id="search-input" placeholder="Type glyph, pinyin or radical">
    <button class="form-button">Search</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: "SearchGlyph"
});
</script>

<style scoped>
.search {
  margin: auto;
  text-align: left;
  width: 330px;
}
.search .form-label {
  display: block;
  font-size: 1.3rem;
  padding: 0;
}
</style>