<template>
  <div class="grid">
    <GlyphInGrid v-for="glyph in glyphs" :glyph="glyph" :key="glyph" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import GlyphInGrid from "./GlyphInGrid.vue";

export default defineComponent({
  name: 'TheGrid',
  components: {
    GlyphInGrid,
  },
  computed: {
    glyphs() {
      return this.$store.state.glyphs;
    },
  },
});
</script>

<style scoped>
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
</style>
