<template>
  <nav class="navigation">
    <router-link :to="{ name: 'Home' }">Home</router-link> |
    <router-link :to="{ name: 'AddNewGlyph' }">Add new glyph</router-link> |
    <router-link :to="{ name: 'About' }">About</router-link>
  </nav>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
  name: "TheNavigation"
});
</script>

<style scoped>
.navigation {
  font-size: 1.3rem;
  margin: 10px;
  text-align: center;
}

.navigation a {
  font-weight: bold;
  color: var(--second-color);
}

.navigation a.router-link-exact-active {
  color: var(--main-color);
}
</style>