<template>
  <InfoBlock />
  <TheNavigation/>
  <div class="content">
    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component" :key="$route.path"/>
      </transition>
    </router-view>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import InfoBlock from '@/components/InfoBlock.vue';
import TheNavigation from '@/components/TheNavigation.vue';

export default defineComponent({
  name: 'App',
  components: {
    InfoBlock,
    TheNavigation
  },
  created() {
    this.$store.dispatch('initData');
  },
});
</script>

<style>
:root {
  --glyph-size: 4.2rem;
  --main-color: #42b983;
  --second-color: #2c3e50;
  --red: #da5050;
}

* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}

.loading-circle {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
.loading-circle:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  /*margin: 8px;*/
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--main-color) transparent var(--main-color) transparent;
  animation: loading-circle 1.2s linear infinite;
}
@keyframes loading-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: [form-left] auto [form-right] 1fr;
  padding: 10px;
}
.form-input, .form-label, .form-button {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 5px 10px;
  padding: 5px;
}
.form-left {
  grid-column: form-left;
}
.form-right {
  grid-column: form-right;
}
.form-bottom {
  grid-column: 1 / -1;
}
.form-button {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform 0.3s;
  transform: scaleY(1);
  transform-origin: top;
}
.slide-down-enter-from,
.slide-down-leave-to {
  transform: scaleY(0);
}


#app {
  color: var(--second-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 40px;
  margin: auto;
  max-width: 900px;
}
</style>
